<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>
    <div style="width:95vw; height: 100vh;  display: flex; flex-direction: column; justify-content:center; align-items: center;">
        <h1 style="text-decoration:underline;">List Of Purchase</h1>
       <button> <a href="<%=baseUrl%>addPurchase" >Add Purchase</a></button>
       <button> <a href="<%=baseUrl%>" >Back</a></button>

       <!-- <button> <a href="/reactionForm" >Reaction</a></button>
        <button>  <a href="/allDataForm" >All Data</a></button> -->
        <table style="width:100%">
            <tr>
              <th>No.</th>
              <th>Product-Name</th>
              <th>Quantity</th>
              <th>Purchase-Rate</th>
              <th>Total</th>
              <th>State</th>
              <th>State</th>
              
            </tr>

            <% data.forEach((item,index)=> { %>
              <tr>
                      <td style="text-align: center;"><%= index+1%></td>
                      <td style="text-align: center;"><%= item.productName %></td>
                      <td style="text-align: center;"><%= item.quantity %></td>
                      <td style="text-align: center;"><%= item.purchaseRate %></td>
                      <td style="text-align: center;"><%= item.total%></td>
                      <td style="text-align: center;"><a href="<%=baseUrl%>deletePurchase/<%= item._id %>">Delete</a></td>
                      <td style="text-align: center;"><a href="<%=baseUrl%>updatePurchaseForm/<%= item._id %>">Update</a></td>
                  </tr>
                  <% }) %>
           
           
          </table>

        
    </div>



  
   
  
</body>

</html>